<table class="table">
		<tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100,format: 'jpeg', fallback: "no_image.jpg" %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
		<tr>
			<th>follow</th>
			<th><%= link_to user.followings.count , user_follow_path(@user) %></th>
		</tr>
		<tr>
			<th>follower</th>
			<th><%= link_to user.followers.count , user_follower_path(@user) %></th>
		</tr>
	    <tr>
			<th>
			<% unless current_user == user %>
			  <% if current_user.following?(user) %>
			    <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
			      <%= hidden_field_tag :follow_id, user.id %>
			      <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
			    <% end %>
			  <% else %>
			    <%= form_for(current_user.relationships.build) do |f| %>
			      <%= hidden_field_tag :follow_id, user.id %>
			      <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
			    <% end %>
			  <% end %>
			 <% end %>
			</th>
		</tr>
</table>

<div class="row">
    <% if user.id == current_user.id %>

	<%= link_to '',edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>

	<% end %>

</div>